# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
dist/
.DS_Store

# IDE
.vscode/
.idea/

# Backend specific
backend/venv/
backend/.pytest_cache/
backend/test.srt

# Frontend specific
frontend/dist/
frontend/.env.local
